{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Add Product</h1>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p style="color:red">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
          <!--TODO: render your registration form here-->
          {{ render_form(form, novalidate=True) }}
        </div>
      </div>
    </div>
  </main>
{% endblock %}